In [16]:
import numpy as np
from sklearn import tree
import pandas as pd

In [17]:
data = pd.read_csv('iris.csv', header=None)

In [18]:
data.head()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  1
1  4.9  3.0  1.4  0.2  1
2  4.7  3.2  1.3  0.2  1
3  4.6  3.1  1.5  0.2  1
4  5.0  3.6  1.4  0.2  1

In [19]:
X = data[[0,1,2,3]]
y = data[[4]]

In [20]:
X.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [21]:
y.head()

   4
0  1
1  1
2  1
3  1
4  1

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test,y_train,y_test = train_test_split(X,y, 
                                                 test_size=0.4,
                                                 random_state = 10)

In [30]:
X_train.shape

(90, 4)

In [32]:
X_test.shape

(60, 4)

In [33]:
y_train.shape

(90, 1)

In [34]:
y_test.shape

(60, 1)

In [35]:
modelo = modelo = tree.DecisionTreeClassifier()

In [37]:
modelo.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [41]:
res = modelo.predict(X_test)

In [40]:
y_test

     4
87   2
111  3
10   1
91   2
49   1
60   2
72   2
67   2
39   1
55   2
66   2
142  3
53   2
1    1
19   1
112  3
85   2
38   1
21   1
35   1
102  3
132  3
126  3
24   1
61   2
2    1
95   2
90   2
76   2
117  3
58   2
97   2
129  3
114  3
146  3
47   1
124  3
120  3
118  3
141  3
26   1
43   1
59   2
41   1
56   2
32   1
52   2
70   2
121  3
144  3
68   2
109  3
81   2
78   2
51   2
14   1
48   1
63   2
20   1
137  3